<section id="accern_home" class="hero-slider light-typo full-height" data-height="600">
    <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">

        <div class="item m-center in" style="background-image: url(../img/accern_company.jpg);background-position:unset">
            <div class="center-box">
                <span class="overlay-bg"></span>
                <div class="container-fluid">
                    
                    <div class="row accern_margintop2">
                        <div class="col-lg-8 col-lg-push-3 col-md-6 col-md-push-3  col-sm-8   col-xs-12  text-center anima fade-up">
                            <div class="accern-unit text-center">
                                <div class="accern_smalltxt">An Overview Of Accern</div>
                                <div class="accern_headerText">We Are Distrupting FinTech</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section id="home" class="padding-top-bottom">
    <div class="container">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor">Leader In News and Social Analytics</h2>
            <p class="text-center accern_textColor">In just over three years, Accern has rapidly grown to become the market leader in the news and social analytics space in terms of content coverage. Trading alerts and analytics are derived from relevant finance-related news processed on over 300 million websites in real time for institutional investors.</p>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-newspaper-o accern_fafontSize fa-4x accern_color"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">News Coverage</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We currently have the largest finance news coverage in the world by monitoring 300 million news websites, blogs, and social media feeds such as Twitter.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-clock-o accern_fafontSize fa-4x accern_color"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">Low-Latency</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">In a few milliseconds, Accern captures articles as soon as they are published online and derives trading analytics to be delivered to customers.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-check-circle-o accern_fafontSize fa-4x accern_color"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">News Quality</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We provide news that are relevant to U.S. public equities 99% of the time, using our proprietary algorithms built solely to tackle data quality issues.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-tag accern_fafontSize fa-4x accern_color"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">Affordable</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We save customers time and energy, and cut more than 50% in news data costs by helping them integrate any type of news sources they need. </p>
                </div>
            </article>
        </div>

    </div>


</section>
<section id="second_para" class="padding-top-bottom">

    <div class="container">
        <div id="projects-container" class="row">
            <div class="col-xs-12 col-md-6">
                <img class="accern_width" src="https://www.accern.com/wp-content/uploads/2017/01/platform2017-1.png" />
            </div>
            <div class="col-xs-12 col-md-6 padding-top">
                <header class="section-header text-center anima fade-up">
                    <h2 class="accern_textColor ">Get Tradable Alerts </h2>
                    <p class="text-justify accern_textColor accer_p_small">Use our web application to get early news on over 8,000 U.S. public equities sourced from over 300 million news websites, blogs, and social media feeds such as Twitter. With easy–to-use features, you can get set up in minutes and start trading on custom news alerts we deliver to you.</p>
                </header>
                <div class="col-xs-12 col-md-12 accer_padding-0">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Trade" ng-click="OpenCollapse_Trade=!OpenCollapse_Trade"><i class="fa fa-arrow-right" ng-show="!OpenCollapse_Trade"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Trade"></i> Trade On Early News </a>

                                </h4>
                            </div>
                            <div id="accern_collapse_Trade" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our massive coverage of 300 million websites allows us to find and deliver early stories on U.S. public equities to our customers.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Build" ng-click="OpenCollapse_Build=!OpenCollapse_Build"><i class="fa fa-arrow-right" ng-show="!OpenCollapse_Build"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Build"></i>  Build Custom Alerts</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Build" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our app allows you to build custom news alerts geared specifically towards your trading strategy. If requested, we can even help you build them.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Use" ng-click="OpenCollapse_Use=!OpenCollapse_Use"><i class="fa fa-arrow-right" ng-show="!OpenCollapse_Use"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Use"></i>  Use Trading Analytics</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Use" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We derive analytics such as sentiment, impact, news exposure, news reliability rankings, and much more from each article.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-arrow-right"></i> Try Web APP </a>
                </div>
            </div>

        </div>

    </div>


</section>
<section id="third_para" class="padding-top-bottom ">

    <div class="container">
        <div id="projects-container padding-bottom-10 accern_margintop2" class="row">
            <div class="col-xs-12 col-md-6 padding-top">
                <header class="section-header text-center anima fade-up">
                    <h2 class="accern_textColor ">Largest News Sentiment API Feed</h2>
                    <p class="text-justify accern_textColor accer_p_small">Use our low-latency news sentiment API feed to build custom trading strategies or integrate it with your existing strategies. With over 300 million news websites, blogs, and social media websites, such as Twitter, monitored in real-time, we extract article meta data, company and events information, and derived trading analytics per article for our institutional customers.</p>
                </header>
                <div class="col-xs-12 col-md-12 accer_padding-0">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Flexible"><i class="fa fa-arrow-right"></i> Flexible Low-Latency API Feed</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Flexible" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our push-based low-latency JSON API feed can aggregate data based on specific time frames or filter data based on companies.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_API"><i class="fa fa-arrow-right"></i> API Data Fields</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_API" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our API data feed includes article metadata such as URLs, events, companies, and derived analytics such as sentiment.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_4"><i class="fa fa-arrow-right"></i> 4 Years Of History</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We have over four years of historical data, which includes article headlines and URLs. Historical data are provided upon request.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default accern_btn" href="#"> <i class="fa fa-key"></i> Request API </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 accern_margintop2">
                <img class="accern_width" src="https://www.accern.com/wp-content/uploads/2017/01/blackwhitegirl.jpg" />
            </div>


        </div>

    </div>


</section>
<section id="companylist" class="padding-top-bottom">
    <div class="container accern_marginbottom headerList">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor">Our Supportive Partners</h2>
            
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent1=true" ng-mouseleave="showcontent1=false">
                <div class="col-md-12 text-center">
                    
                        <img src="https://www.accern.com/wp-content/uploads/2017/01/ibmlogo.png" class="accer_image">
                  
                </div>
                <div class="col-md-12 text-center">
                    
                    <a href="#"  class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent1">IBM Investment Solutions</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent2=true" ng-mouseleave="showcontent2=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/bloomberg-2.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">
                   
                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent2">Bloomberg App Store</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent3=true" ng-mouseleave="showcontent3=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/iblogo-1.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center accern_img">
                   
                    <a href="#"  class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent3">Interactive Brokers Marketplace</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent4=true" ng-mouseleave="showcontent4=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quantopianlogo.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">
                  
                    <a href="#" class="text-center  accern_subtextcolor accern_textColor DownloadAccern1" ng-show="showcontent4">Quantopian Data Store</a>
                </div>
            </article>



            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent5=true" ng-mouseleave="showcontent5=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quandl.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent5">Quandl Store</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent6=true" ng-mouseleave="showcontent6=false">
                <div class="col-md-12 text-center">

                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quantconnectlogo.png" class="accer_image">

                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent6">QuantConnect Store</a>
                </div>
            </article>


            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent7=true" ng-mouseleave="showcontent7=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/stocktwits.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_textColor DownloadAccern1" ng-show="showcontent7">StockTwits Ad Partner</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent8=true" ng-mouseleave="showcontent8=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/benzinga.png"  class="accer_image">
                </div>
                <div class="col-md-12 text-center accern_img">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent8">Benzinga Distribution Partner</a>
                </div>
            </article>
        </div>


     
    </div>


</section>