
<section id="accern_home" class="hero-slider light-typo full-height" data-height="600">
    <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">

        <div class="item m-center in" style="background-image: url(../img/accern_company.jpg);background-position:unset">
            <div class="center-box">
                <span class="overlay-bg"></span>
                <div class="container-fluid">
                    
                    <div class="row accern_margintop2">
                        <div class="col-lg-8 col-lg-push-3 col-md-6 col-md-push-3  col-sm-8   col-xs-12  text-center anima fade-up">
                            <div class="accern-unit text-center">
                                <div class="accern_smalltxt">An Overview Of Accern</div>
                                <div class="accern_headerText">We Are Distrupting FinTech</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section id="home" class="padding-top-bottom">
    <div class="container">
        <div class="col-lg-12">
            <header class="section-header anima fade-up">
                <h4>History Of Accern</h4>
            </header>
</div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <header class="section-header anima fade-up ">
                
                <!--<h2 class="accern_textColor accern_padding_5 ">Our Desire to Automate the Discovery of Early News</h2>-->
                <span style="color: rgb(255, 255, 255); font-size: 30px; font-family: Poppins;" data-mce-style="color: #ffffff; font-size: 30px; font-family: Poppins;"><span style="/* font-size: 30px; */font-weight: 300;font-family: Poppins;" data-mce-style="font-size: 30px; font-weight: 300; font-family: Poppins;">Our Desire to <span style="font-size: 30px; font-weight: 600; font-family: Poppins;" data-mce-style="font-size: 30px; font-weight: 600; font-family: Poppins;"><span style="font-size: 30px; font-weight: 600; font-family: Poppins;" data-mce-style="font-size: 30px; font-weight: 600; font-family: Poppins;">Automate the Discovery of Early News</span></span></span></span>
            </header>
            <div class="col-lg-12 accern_padding_0 padding-top">
                <p class="accern_company_para accern_subpara">Accern was born in late 2013 out of a desire to automate the discovery of early financial news. We wanted to eliminate the manual process of going to multiple news websites to find actionable news story. Furthermore, we wanted to eliminate the cost of clients subscribing to multiple news platforms and data feeds. By building upon this concept, we rapidly grew to covering over 300 million public news websites, blogs, social media websites such as Twitter, and public financial documents such as SEC filings. With a skilled team of PhDs and computer engineers, we have positioned ourselves at No.1 in finance news sentiment in terms of our web coverage. </p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            
            <header class="section-header anima fade-up ">
          
                <h2 class="accern_color accern_padding_5 accern_fontSize">40</h2>
            </header>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-9">
                <header class="section-header anima fade-up ">
                    <h2 class="accern_textColor accern_padding_5 accern_padding_top2">Billion ($) AUM Influenced</h2>

                </header>
                <div class="col-lg-12 accern_padding_0">
                    <p class="accern_company_para accern_subpara2">Accern primarily serves institutional investors. The majority of our current clients are quantitative hedge funds. Many small firms are coming to us because of our flexible and affordable pricing options. Large firms are coming to us due to our dedicated support, news source customization, and much more. Aside from hedge funds, our existing clients include pension and endowment funds, banks, brokerage firms, and more.</p>

                    <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-file"></i> SEE REPORTS </a>
                </div>
            </div>

        </div>
    


</section>
<section id="second_para" class="padding-top-bottom">
    <div class="container accern_marginbottom">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor">Our Technical Process Of Discovering Early News</h2>
            
        </header>
    </div>
    <div class="container">
        <div id="projects-container wrap" class="row">
         
        </div>

    </div>


</section>

<section id="companylist" class="padding-top-bottom">
    <div class="container accern_marginbottom headerList">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor">Our Supportive Partners</h2>
            
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent1=true" ng-mouseleave="showcontent1=false">
                <div class="col-md-12 text-center">
                    
                        <img src="https://www.accern.com/wp-content/uploads/2017/01/ibmlogo.png" class="accer_image">
                  
                </div>
                <div class="col-md-12 text-center">
                    
                    <a href="#"  class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent1">IBM Investment Solutions</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent2=true" ng-mouseleave="showcontent2=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/bloomberg-2.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">
                   
                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent2">Bloomberg App Store</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent3=true" ng-mouseleave="showcontent3=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/iblogo-1.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center accern_img">
                   
                    <a href="#"  class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent3">Interactive Brokers Marketplace</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent4=true" ng-mouseleave="showcontent4=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quantopianlogo.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">
                  
                    <a href="#" class="text-center  accern_subtextcolor accern_textColor DownloadAccern1" ng-show="showcontent4">Quantopian Data Store</a>
                </div>
            </article>



            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent5=true" ng-mouseleave="showcontent5=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quandl.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent5">Quandl Store</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent6=true" ng-mouseleave="showcontent6=false">
                <div class="col-md-12 text-center">

                    <img src="https://www.accern.com/wp-content/uploads/2017/01/quantconnectlogo.png" class="accer_image">

                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent6">QuantConnect Store</a>
                </div>
            </article>


            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent7=true" ng-mouseleave="showcontent7=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/stocktwits.png" class="accer_image">
                </div>
                <div class="col-md-12 text-center">

                    <a href="#" class="text-center  accern_subtextcolor accern_textColor DownloadAccern1" ng-show="showcontent7">StockTwits Ad Partner</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent8=true" ng-mouseleave="showcontent8=false">
                <div class="col-md-12 text-center">
                    <img src="https://www.accern.com/wp-content/uploads/2017/01/benzinga.png"  class="accer_image">
                </div>
                <div class="col-md-12 text-center accern_img">

                    <a href="#" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent8">Benzinga Distribution Partner</a>
                </div>
            </article>
        </div>


     
    </div>


</section>