<section id="accern_home" class="hero-slider light-typo full-height" data-height="600">
    <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">

        <div class="item m-center in " style="background-image: url(../img/accern_dashboard.jpg);background-position:unset">
            <div class="center-box">
                <span class="overlay-bg"></span>
                <div class="container-fluid">
                    <div class="row accern_margintop1">
                        <div class="col-lg-6 col-md-6  col-sm-8  col-xs-12 text-center anima fade-up">
                            <div class="accern-unit text-center">
                                <div class="accern_smalltxt">We’re Here for You</div>
                                <div class="accern_headerText">Contact us any time</div>
                                <p>110 Wall Street, New York, NY 10005</p>
                                <p><a href="mailTo:info@accern.com">info@accern.com</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="padding-top-bottom">
    <div class="container">
        <header class="section-header text-center">
            <h1 class="accern_textColor"><strong>Contact</strong></h1>
            <p class="accern_subtextcolor">Contact us for documentation and pricing. We will respond within 3 hours.</p>
        </header>
        <form action="http://demo.angelostudio.net/microstore/index.html" method="post" novalidate id="contact-form">
            <div class="row">
                <div class="col-md-2 anima fade-up d1">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 anima fade-up d1">
                    <div class="form-group">
                        <label class="control-label" for="contact-name">Name</label>
                        <div class="controls">
                            <input id="contact-name" name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-mail">Email</label>
                        <div class=" controls">
                            <input id="contact-mail" name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-mail">Subject</label>
                        <div class="controls">
                            <input id="contact-Subject" name="Subject" placeholder="Your Subject" class="form-control input-lg requiredField" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-message">Message</label>
                        <div class="controls">
                            <textarea id="contact-message" name="comments" placeholder="Your message" class="form-control input-lg requiredField" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center accern_contact_btn">
                            <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-envelope-open"></i> Send </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <!--<p>
                        <button name="submit" type="submit" class="btn btn-store btn-block">Send Message</button>
                    </p>-->
                    <input type="hidden" name="submitted" id="submitted3" value="true">
                </div>
                <div class="col-md-2 anima fade-up d1">
                </div>
            </div>
        </form>
    </div>
</section>