<section id="accern_home" class="hero-slider light-typo full-height" data-height="600">
    <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">

        <div class="item m-center in " style="background-image: url(../img/accern_dashboard.jpg);background-position:unset">
            <div class="center-box">
                <span class="overlay-bg"></span>
                <div class="container-fluid">
                    <div class="row accern_margintop1">
                        <div class="col-lg-6 col-md-6  col-sm-8  col-xs-12 text-center anima fade-up">
                            <div class="accern-unit">

                                <div class="accern_headerText">Early News Alert</div>
                                <div class="accern_p">On U.S. Public Equities</div>
                                <div class="accern_badgebottomcolor"></div>
                                <p class="text-justify accern_subparadash">Get the most advanced breaking news technology for your investment strategies. Over 300 million websites are monitored in real time for early news on U.S. public equities.</p>
                                <div> <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-arrow-right"></i> Try Web APP </a> <a class="btn btn-default accern_btn" href="#">  Request API </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<section id="home" class="padding-top-bottom">
    <div class="container accern_marginbottom">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor accern_dashboardHeader">Leader In News and Social Analytics</h2>
            <p class="text-center accern_textColor">In just over three years, Accern has rapidly grown to become the market leader in the news and social analytics space in terms of content coverage. Trading alerts and analytics are derived from relevant finance-related news processed on over 300 million websites in real time for institutional investors.</p>
        </header>
    </div>
    <div class="container">
        <div id="projects-container accern_hover" class="row">
          
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center ">
                    <i class="fa fa-newspaper-o accern_fafontSize fa-4x accern_color  content_hover"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">News Coverage</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We currently have the largest finance news coverage in the world by monitoring 300 million news websites, blogs, and social media feeds such as Twitter.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-clock-o accern_fafontSize fa-4x accern_color content_hover"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">Low-Latency</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">In a few milliseconds, Accern captures articles as soon as they are published online and derives trading analytics to be delivered to customers.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-check-circle-o accern_fafontSize fa-4x accern_color content_hover"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">News Quality</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We provide news that are relevant to U.S. public equities 99% of the time, using our proprietary algorithms built solely to tackle data quality issues.</p>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3">
                <div class="col-md-12 text-center">
                    <i class="fa fa-tag accern_fafontSize fa-4x accern_color content_hover"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">Affordable</h3>
                    <p class="text-center  accern_subtextcolor accern_subtextSize">We save customers time and energy, and cut more than 50% in news data costs by helping them integrate any type of news sources they need. </p>
                </div>
            </article>
        </div>

    </div>


</section>
<section id="second_para" class="padding-top-bottom">

    <div class="container">
        <div id="projects-container" class="row">
            <div class="col-xs-12 col-md-6">
                <img class="accern_width " src="../img/accern_platform2017-1.png" />
            </div>
            <div class="col-xs-12 col-md-6 padding-top">
                <header class="section-header text-center anima fade-up">
                    <h2 class="accern_textColor ">Get Tradable Alerts </h2>
                    <p class="text-justify accern_textColor accer_p_small">Use our web application to get early news on over 8,000 U.S. public equities sourced from over 300 million news websites, blogs, and social media feeds such as Twitter. With easy–to-use features, you can get set up in minutes and start trading on custom news alerts we deliver to you.</p>
                </header>
                <div class="col-xs-12 col-md-12 accer_padding-0">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Trade" ng-click="OpenCollapse_Trade=!OpenCollapse_Trade"><i class="fa fa-arrow-right"  ng-show="!OpenCollapse_Trade"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Trade"></i> Trade On Early News </a>
                                    
                                </h4>
                            </div>
                            <div id="accern_collapse_Trade" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our massive coverage of 300 million websites allows us to find and deliver early stories on U.S. public equities to our customers.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Build" ng-click="OpenCollapse_Build=!OpenCollapse_Build"><i class="fa fa-arrow-right" ng-show="!OpenCollapse_Build"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Build"></i>  Build Custom Alerts</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Build" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our app allows you to build custom news alerts geared specifically towards your trading strategy. If requested, we can even help you build them.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Use" ng-click="OpenCollapse_Use=!OpenCollapse_Use"><i class="fa fa-arrow-right" ng-show="!OpenCollapse_Use"></i><i class="fa fa-arrow-down" ng-show="OpenCollapse_Use"></i>  Use Trading Analytics</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Use" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We derive analytics such as sentiment, impact, news exposure, news reliability rankings, and much more from each article.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-arrow-right"></i> Try Web APP </a>
                </div>
            </div>

        </div>

    </div>


</section>
<section id="third_para" class="padding-top-bottom ">

    <div class="container">
        <div id="projects-container padding-bottom-10 accern_margintop2" class="row">
            <div class="col-xs-12 col-md-6 padding-top">
                <header class="section-header text-center anima fade-up">
                    <h2 class="accern_textColor ">Largest News Sentiment API Feed</h2>
                    <p class="text-justify accern_textColor accer_p_small">Use our low-latency news sentiment API feed to build custom trading strategies or integrate it with your existing strategies. With over 300 million news websites, blogs, and social media websites, such as Twitter, monitored in real-time, we extract article meta data, company and events information, and derived trading analytics per article for our institutional customers.</p>
                </header>
                <div class="col-xs-12 col-md-12 accer_padding-0">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_Flexible"><i class="fa fa-arrow-right"></i> Flexible Low-Latency API Feed</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_Flexible" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our push-based low-latency JSON API feed can aggregate data based on specific time frames or filter data based on companies.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_API"><i class="fa fa-arrow-right"></i> API Data Fields</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_API" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our API data feed includes article metadata such as URLs, events, companies, and derived analytics such as sentiment.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accern_collapse_4"><i class="fa fa-arrow-right"></i> 4 Years Of History</a>
                                </h4>
                            </div>
                            <div id="accern_collapse_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We have over four years of historical data, which includes article headlines and URLs. Historical data are provided upon request.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default accern_btn" href="#"> <i class="fa fa-key"></i> Request API </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 accern_margintop2">
                <img class="accern_width" src="https://www.accern.com/wp-content/uploads/2017/01/blackwhitegirl.jpg" />
            </div>


        </div>

    </div>


</section>
<section class="padding-top-bottom">
    <div class="container">
        <header class="section-header text-center">
            <h1 class="accern_textColor"><strong>Contact</strong></h1>
            <p class="accern_subtextcolor">Contact us for documentation and pricing. We will respond within 3 hours.</p>
        </header>
        <form action="http://demo.angelostudio.net/microstore/index.html" method="post" novalidate id="contact-form">
            <div class="row">
                <div class="col-md-2 anima fade-up d1">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 anima fade-up d1">
                    <div class="form-group">
                        <label class="control-label" for="contact-name">Name</label>
                        <div class="controls">
                            <input id="contact-name" name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-mail">Email</label>
                        <div class=" controls">
                            <input id="contact-mail" name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-mail">Subject</label>
                        <div class="controls">
                            <input id="contact-Subject" name="Subject" placeholder="Your Subject" class="form-control input-lg requiredField" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="contact-message">Message</label>
                        <div class="controls">
                            <textarea id="contact-message" name="comments" placeholder="Your message" class="form-control input-lg requiredField" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center accern_contact_btn">
                            <a class="btn btn-danger accern_btn" href="#"> <i class="fa fa-envelope-open"></i> Send </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <!--<p>
                        <button name="submit" type="submit" class="btn btn-store btn-block">Send Message</button>
                    </p>-->
                    <input type="hidden" name="submitted" id="submitted3" value="true">
                </div>
                <div class="col-md-2 anima fade-up d1">
                </div>
            </div>
        </form>
    </div>
</section>