<section id="accern_home" class="hero-slider light-typo full-height" data-height="600">
    <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">

        <div class="item m-center in" style="background-image: url(../img/accern_resource.jpg);background-position:unset">
            <div class="center-box">
                <span class="overlay-bg"></span>
                <div class="container-fluid">

                    <div class="row accern_margintop3">
                        <div class="col-lg-8 col-lg-push-3 col-md-6 col-md-push-3  col-sm-8   col-xs-12  text-center anima fade-up">
                            <div class="accern-unit text-center">
                                <div class="accern_smalltxt">Downloadable</div>
                                <div class="accern_headerText">Resources</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section id="home" class="padding-top-bottom">
    <div class="container accern_marginbottom">
        <header class="section-header text-center anima fade-up">
            <h2 class="accern_textColor">API Resources</h2>
            <p class="text-center accern_subtextcolor accern_subtextSize">Feel free to download all of our API resources to help you get a better understanding of our product. If you have further questions, please feel free to contact us at info@accern.com.</p>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent1=true" ng-mouseleave="showcontent1=false">
                <div class="col-md-12 text-center">
                    <i class="fa fa-download accern_fafontSize fa-4x"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">API GUID</h3>
                    <a href="https://www.accern.com/Documents%20/AccernAPIGuide%20.pdf" target="_blank" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent1">Download</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent2=true" ng-mouseleave="showcontent2=false">
                <div class="col-md-12 text-center">
                    <i class="fa fa-arrow-down accern_fafontSize fa-4x accern_color"  ng-hide="showcontent2"></i>
                    <i class="fa fa-arrow-down accern_fafontSize fa-4x " ng-show="showcontent2"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">API SAMPLE</h3>
                    <a href="https://www.accern.com/Documents /AccernAPI_Sample_July2016_Week1.zip" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent2">Download</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accer_resource accern_article_padding" ng-mouseenter="showcontent3=true" ng-mouseleave="showcontent3=false">
                <div class="col-md-12 text-center">
                    <i class="fa fa-download accern_fafontSize fa-4x"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">WHITEPAPERS</h3>
                    <a href="https://www.accern.com/Documents /Whitepapers/AccernWhitePaper_ArticleVolumeDistribution.pdf" target="_blank" class="text-center  accern_subtextcolor accern_subtextSize DownloadAccern1" ng-show="showcontent3">Download</a>
                </div>
            </article>
            <article class="design product col-xs-12 col-sm-6 col-md-3 accern_resourceExample accern_article_padding" ng-mouseenter="showcontent4=true" ng-mouseleave="showcontent4=false">
                <div class="col-md-12 text-center">
                    <i class="fa fa-file-o accern_fafontSize fa-4x accern_color"  ng-hide="showcontent4"></i>
                    <i class="fa fa-file-o accern_fafontSize fa-4x " ng-show="showcontent4"></i>
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="accern_textColor">BACKTEST RESPORTS</h3>
                    <a href="https://www.accern.com/Documents /BacktestReports/BacktestReports.zip" class="text-center  accern_subtextcolor accern_textColor DownloadAccern1" ng-show="showcontent4">Download</a>
                </div>
            </article>
        </div>

    </div>


</section>
